* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}


/* CONTAINER */
.container {
    width: 80%;
    height: 95vh;
    margin: 2.5vh auto;
    display: flex;
    /* debug */
    background-color: red;
}

@media screen and (max-width: 992px) {
    .container {
        width: 100%;
        height: 100vh;
        margin: 0;
    }
}

/* CONTACTS COLUMN */

.contacts-col {
    width: 30%;
    /* debug */
    background-color: blue;
    min-height: 100%;
}

.me-row {
    /* debug */
    min-height: 10%;
    background-color: aqua;
}

.notify-row {
    /* debug */
    min-height: 10%;
    background-color: lightblue;
}

.find-chat-row {
    min-height: 5%;
    background-color: gray;
}

.contacts-list {
    max-height: 75%;
    border: 1px solid black;
    overflow-y: auto;
}

.contacts-list li{
    min-height: 10vh;
    background-color: lightgreen;
}

/* CHAT COLUMN */

.chat-col {
    width: 70%;
    /* debug */
    background-color: green;
    min-height: 100%;
}

.chat-head{
    /* debug */
    min-height: 10%;
    background-color: lightblue;
}

.chat {
    min-height: 80%;
    background-color: lightsalmon;
}

.msg-bar {
    min-height: 10%;
    background-color: lightpink;
}
/* RESPONSIVE */
@media screen and (max-width: 992px) {
    .contacts-col {
        width: 15%;
    }

    .chat-col {
        width: 85%;
    }
}

@media screen and (max-width: 768px) {
    .contacts-col {
        display: none;
    }

    .chat-col {
        width: 100%;
    }
}